// Template for AppSecrets.
// For local development, copy this file to 'app_secrets.dart' and insert your keys.
// 'app_secrets.dart' is gitignored and will never be committed to the repository.

class AppSecrets {
  static const String revenueCatApiKeyAndroid = '';
  static const String revenueCatApiKeyIos = '';
}

